<!-- <app-navbar [save]="save" [btns]="btns"></app-navbar> -->
<div class="back no-print">
    <div class="container pt-1">
        <div class="row justify-content-sm-center">
          <div class="col s12">
            <div class="card">
              <div class="card-body">
                <div class="row" style="margin: 1rem;">
                  <div class="col s12" style="padding: 0 0 1rem 0;">
                      <p class="card-title h5" style="text-align: center; font-weight: 500; ">
                        Car Wash
                      </p>
                  </div>
                </div>
                <div class="row">              
                  <div class="col s12 m6 l3 center">
                    <div class="card" [routerLink]="['/carwashe']" style="cursor: pointer; background-color: white;">
                        <h5><b style="color: red;">EXPRESS</b></h5>
                        <table border="1" class="tab_" style="border: 1px solid #555;">
                          <tr>
                              <td><img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/68/000000/external-carwash-car-services-smashingstocks-mixed-smashing-stocks.png"/></td>
                              <td><h6>LAVADO EXTERIOR</h6></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wheel.png"/></td>
                              <td><h6>RINES</h6></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/000000/external-hand-hand-washing-phatplus-lineal-phatplus.png"/></td>
                              <td><h6>ARMOR ALL</h6></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/update-left-rotation.png"/></td>
                              <td><h6>SECADO</h6></td>
                          </tr>
                      </table>
                      <table border="1" class="tab_2">
                          <tr>
                              <td><p>AUTO</p> <p style="color: white; background-color: red;">$50.00</p></td>
                          </tr>
                          <tr>
                              <td><p>PICKUP</p> <p style="color: white; background-color: red;">$60.00</p></td>
                          </tr>
                          <tr>
                              <td><p>SUB</p> <p style="color: white; background-color: red;">$70.00</p></td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col s12 m6 l3 center">
                    <div class="card" [routerLink]="['/carwash1']" style="cursor: pointer; background-color: white;">
                        <h5><b style="color: red;">PAQUETE 1</b></h5>
                        <table border="1" class="tab_" style="border: 1px solid #555;">
                          <tr>
                              <td><img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/68/000000/external-carwash-car-services-smashingstocks-mixed-smashing-stocks.png"/></td>
                              <td><p>LAVADO EXTERIOR</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wheel.png"/></td>
                              <td><p>RINES</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/000000/external-hand-hand-washing-phatplus-lineal-phatplus.png"/></td>
                              <td><p>ARMOR ALL</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-outline-satawat-anukul/64/000000/external-furnitureandhousehold-furniture-and-household-outline-outline-satawat-anukul-41.png"/></td>
                              <td><p>ASPIRADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/update-left-rotation.png"/></td>
                              <td><p>SECADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wind--v1.png"/></td>
                              <td><p>AROMA</p></td>
                          </tr>
                          <tr>
                      </table>
                      <table border="1" class="tab_2">
                          <tr>
                              <td><p>AUTO</p> <p style="color: white; background-color: red;">$70.00</p></td>
                          </tr>
                          <tr>
                              <td><p>PICKUP</p> <p style="color: white; background-color: red;">$80.00</p></td>
                          </tr>
                          <tr>
                              <td><p>SUB</p> <p style="color: white; background-color: red;">$100.00</p></td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col s12 m6 l3 center">
                    <div class="card" [routerLink]="['/carwash2']" style="cursor: pointer; background-color: white;">
                        <h5><b style="color: red;">PAQUETE 2</b></h5>
                        <table border="1" class="tab_" style="border: 1px solid #555;">
                          <tr>
                              <td><img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/68/000000/external-carwash-car-services-smashingstocks-mixed-smashing-stocks.png"/></td>
                              <td><p>LAVADO EXTERIOR</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wheel.png"/></td>
                              <td><p>RINES</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/000000/external-hand-hand-washing-phatplus-lineal-phatplus.png"/></td>
                              <td><p>ARMOR ALL</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-outline-satawat-anukul/64/000000/external-furnitureandhousehold-furniture-and-household-outline-outline-satawat-anukul-41.png"/></td>
                              <td><p>ASPIRADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/update-left-rotation.png"/></td>
                              <td><p>SECADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wind--v1.png"/></td>
                              <td><p>AROMA</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/automatic-car-wash.png"/></td>
                              <td><p>ESPUMA TRICOLOR</p></td>
                          </tr>
                      </table>
                      <table border="1" class="tab_2">
                          <tr>
                              <td><p>AUTO</p> <p style="color: white; background-color: red;">$90.00</p></td>
                          </tr>
                          <tr>
                              <td><p>PICKUP</p> <p style="color: white; background-color: red;">$100.00</p></td>
                          </tr>
                          <tr>
                              <td><p>SUB</p> <p style="color: white; background-color: red;">$120.00</p></td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col s12 m6 l3 center">
                    <div class="card" [routerLink]="['/carwash3']" style="cursor: pointer; background-color: white;">
                        <h5><b style="color: red;">PAQUETE 3</b></h5>
                        <table border="1" class="tab_" style="border: 1px solid #555;">
                          <tr>
                              <td><img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/68/000000/external-carwash-car-services-smashingstocks-mixed-smashing-stocks.png"/></td>
                              <td><p>LAVADO EXTERIOR</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wheel.png"/></td>
                              <td><p>RINES</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/000000/external-hand-hand-washing-phatplus-lineal-phatplus.png"/></td>
                              <td><p>ARMOR ALL</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/external-outline-satawat-anukul/64/000000/external-furnitureandhousehold-furniture-and-household-outline-outline-satawat-anukul-41.png"/></td>
                              <td><p>ASPIRADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/update-left-rotation.png"/></td>
                              <td><p>SECADO</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/wind--v1.png"/></td>
                              <td><p>AROMA</p></td>
                          </tr>
                          <tr>
                            <td><img src="https://img.icons8.com/ios/50/000000/automatic-car-wash.png"/></td>
                            <td><p>ESPUMA TRICOLOR</p></td>
                          </tr>
                          <tr>
                              <td><img src="https://img.icons8.com/ios/50/000000/carpool.png"/></td>
                              <td><p>CERA LÍQUIDA</p></td>
                          </tr>
                      </table>
                      <table border="1" class="tab_2">
                          <tr>
                              <td><p>AUTO</p> <p style="color: white; background-color: red;">$110.00</p></td>
                          </tr>
                          <tr>
                              <td><p>PICKUP</p> <p style="color: white; background-color: red;">$120.00</p></td>
                          </tr>
                          <tr>
                              <td><p>SUB</p> <p style="color: white; background-color: red;">$140.00</p></td>
                          </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- <div style="padding-right: 0.1rem;" [ngStyle]="{'display': express ? 'block': 'none'}" id="express_"> -->





